{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{project_plugins, [covertool]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{covertool, [{coverdata_files, ["_build/test/cover/eunit.coverdata"]}]}.
{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{dialyzer, [
    {warnings, [
        error_handling,
        underspecs,
        unmatched_returns
    ]},
    {plt_extra_apps, []}
]}.

{profiles, [
    {test, [
        {deps, []},
        {erl_opts, [debug_info, nowarn_export_all]}
    ]}
]}.
