
{erl_opts, [debug_info]}.

{deps, [
    ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_opts, [verbose]}.
{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

{profiles, [
    {doc, [
        {plugins, [
            {rebar_edown_plugin,
                {git, "git://github.com/altenwald/rebar_edown_plugin.git", {branch, "master"}}
            }
        ]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github}
        ]}
    ]},
    {test, [
        {deps, [
        ]}
    ]},
    {dev, [
        {plugins, [rebar3_hex]}
    ]}
]}.
